@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply m-0 p-0;
        @apply font-default;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}
